doctype 
html(lang="en")
    head 
        meta(charset=UTF-8)
        title Style Attributes 
        link(rel="stylesheet", href="../css/master.css")
        nav.controls
            a(href="../index.html") 
    main 
        header 
            h1 Style Attribute 
        section 
            h2(style={
                'background-color': 'skyblue',
                color: 'navy',
                padding: '10px',
                'border-radius': '10px'
            }) styling 