doctype 
html(lang="en")
    head 
        meta(charset=UTF-8)
        title Variables Attributes  
        link(rel="stylesheet", href="../css/master.css") 
        nav.controls
            a(href="../index.html") 
    main 
        header 
            h1  Variables Attributes 
        section 
            - var classes = ['red', 'green', 'blue']
            - var idu ="main01"
            h2    Jeremias Springfield 