main {
section{
    display: flex;
    justify-content: center;
   h2 {
    align-items: center;
    background-color: rgb(255, 153, 0);
    border: 8px solid rgba(255, 136, 0, 0.849);
    border-radius: 50%;
    color: azure;
    display: flex;
    transform: scale(0.7);
    justify-content: center;
    font-size: 2.2rem;
    filter:grayscale(1);
    align-items: center;
    height: 250px;
    justify-content: center;
    padding: 1rem;
    transition: all 0.2s ease-in;
    width: 250px;
    &:hover{
        filter: grayscale(0);
        transform: scale(1);
    }
   }

}



}